@font-face {
    font-display: swap;
    font-family: 'HanaMinBFont';
    src: local('HanaMinB'), local('HanaMinB Regular'), local('HanaMinB-Regular'), url('https://edge.fscdn.org/assets/components/fs-styles/assets/fonts/hanazono/HanaMinB-e09259bbfa3a57f7f9ac2cd8c77d01a9.ttf') format('truetype');
    unicode-range: U+20000-2A6D6,U+2A700-2B734,U+2B820-2CEAF,U+2CEB0-2EBEF;
}

@font-face {
    font-family: 'Tofu';
    src: url('data:font/ttf;base64,AAEAAAAKAIAAAwAgT1MvMkWnTqsAAAEoAAAAYGNtYXAALvz2AAABkAAAAGRnbHlmO2FM+QAAAfwAAAAsaGVhZCSa2JAAAACsAAAANmhoZWEHbgNUAAAA5AAAACRobXR4BBoAAAAAAYgAAAAGbG9jYQAWAAAAAAH0AAAABm1heHAABAAMAAABCAAAACBuYW1l6hJPCQAAAigAAAFHcG9zdAADAAAAAANwAAAAIAABAAAAAQAAboUSyF8PPPUAAwQAAAAAAOEASjwAAAAA4QBKPACWAAAC7gMgAAAAAwACAAAAAAAAAAEAAAPo/zgAAAOEAJYAlgLuAAEAAAAAAAAAAAAAAAAAAAABAAEAAAACAAoAAQAAAAAAAgAAAAAAAAAAAAAAAAAAAAAAAwOEAZAABQAEAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAD///////////////8H////Pz8/PwAAAAH//wPoAAAAAAPoAMgAAAAAAAAAAAAAAAAAAAAgAAADhAAAAJYAAAAAAAMAAAADAAAAHAADAAEAAAAcAAMACgAAADwABAAgAAAABAAEAAEAAAAB//8AAAAB//8AAAABAAAAAAANAAAAAAAoAAAAAAAAAAIAAAACAAD+DgAAAAEAAP4QABD//wAAAAEAAAAAABYAAAABAJYAAALuAyAACQAAMxEhESE3IREhEZYCWP2oMgH0/gwDIPzgMgK8/UQAAAAADACWAAEAAAAAAAEABAAAAAEAAAAAAAIABwAEAAEAAAAAAAMAGQALAAEAAAAAAAQADAAkAAEAAAAAAAUACwAwAAEAAAAAAAYADAAkAAMAAQQJAAEACAA7AAMAAQQJAAIADgBDAAMAAQQJAAMAMgBRAAMAAQQJAAQAGACDAAMAAQQJAAUAFgCbAAMAAQQJAAYAGACDVG9mdVJlZ3VsYXJmb250QnVpbGRlcjogVG9mdS5SZWd1bGFyVG9mdS1SZWd1bGFyVmVyc2lvbiAwLjEAVABvAGYAdQBSAGUAZwB1AGwAYQByAGYAbwBuAHQAQgB1AGkAbABkAGUAcgA6ACAAVABvAGYAdQAuAFIAZQBnAHUAbABhAHIAVABvAGYAdQAtAFIAZQBnAHUAbABhAHIAVgBlAHIAcwBpAG8AbgAgADAALgAxAAADAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA');
    unicode-range: U+20000-2A6D6,U+2A700-2B734,U+2B820-2CEAF,U+2CEB0-2EBEF;
}

:root {
    --text-base-size: 1rem;
    --text-scale-factor: 1.2;
    --text-size-a: calc(var(--text-base-size) / var(--text-scale-factor));
    --text-size-b: var(--text-base-size);
    --text-size-c: calc(var(--text-size-b) * var(--text-scale-factor));
    --text-size-d: calc(var(--text-size-c) * var(--text-scale-factor));
    --text-size-e: calc(var(--text-size-d) * var(--text-scale-factor));
    --text-size-f: calc(var(--text-size-e) * var(--text-scale-factor));
    --text-size-g: calc(var(--text-size-f) * var(--text-scale-factor));
    --text-size-h: calc(var(--text-size-g) * var(--text-scale-factor));
    --reach-tabs: 1;
    --font-families-body: 'HeritageBody:Sans','HanaMinBFont',ui-sans-serif,system-ui,sans-serif,'Tofu';
    --font-families-headings: 'HeritageHeadings:Sans','HanaMinBFont',ui-sans-serif,system-ui,sans-serif,'Tofu';
    --white02: rgba(255,255,255,0.08);
    --white03: rgba(255,255,255,0.15);
    --white05: rgba(255,255,255,0.18);
    --white10: rgba(255,255,255,0.2);
    --white20: rgba(255,255,255,0.28);
    --white30: rgba(255,255,255,0.35);
    --white40: rgba(255,255,255,0.44);
    --white50: rgba(255,255,255,0.62);
    --white60: rgba(255,255,255,0.7);
    --white70: rgba(255,255,255,0.83);
    --white80: rgba(255,255,255,0.9);
    --white90: rgba(255,255,255,0.95);
    --white100: rgba(255,255,255,1);
}

@media screen and (min-width: 50em) {
    :root {
        --text-scale-factor:1.25;
    }
}

@media screen and (min-width: 70em) {
    :root {
        --text-scale-factor:1.3;
    }
}

[lang='zh'] {
    -webkit-locale: 'zh-Hant';
    font-language-override: 'ZHT';
}

[lang|="de"] *,[lang|="ru"] *,[lang|="hu"] * {
    text-transform: none !important;
}

*,*:before,*:after {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: var(--font-families-body);
}

button,input {
    font-family: inherit;
}

button {
    cursor: pointer;
    text-align: start;
}

button:focus,button:active {
    outline: none;
}

button::-moz-focus-inner {
    border: 0;
}

fieldset,legend {
    border: none;
    margin: 0;
    padding: 0;
}

h1,h2,h3,h4,h5,h6,p {
    font-size: inherit;
    font-weight: 400;
    margin: 0;
    padding: 0;
}

ol,ul {
    padding: 0;
    margin: 0;
}

li {
    padding: 0;
    padding-inline-start:3px;margin: 0;
    margin-inline-start:17px;}

@supports not (padding-inline-start:3px) {
    li {
        padding-left: 3px;
    }
}

@supports not (margin-inline-start:17px) {
    li {
        margin-left: 17px;
    }
}

figure {
    margin: 0;
}

@media (prefers-reduced-motion:reduce) {
    *,::before,::after {
        -webkit-animation-delay: -1ms !important;
        animation-delay: -1ms !important;
        -webkit-animation-duration: 1ms !important;
        animation-duration: 1ms !important;
        -webkit-animation-iteration-count: 1 !important;
        animation-iteration-count: 1 !important;
        background-attachment: initial !important;
        -webkit-scroll-behavior: auto !important;
        -moz-scroll-behavior: auto !important;
        -ms-scroll-behavior: auto !important;
        scroll-behavior: auto !important;
        -webkit-transition-duration: 0s !important;
        transition-duration: 0s !important;
        -webkit-transition-delay: 0s !important;
        transition-delay: 0s !important;
    }
}

a[no-link-styles] {
    -webkit-text-decoration: none;
    text-decoration: none;
}

a {
    -webkit-text-decoration-thickness: 1px;
    text-decoration-thickness: 1px;
    text-underline-offset: 2px;
}

:focus-visible {
    outline-color: var(--blue50);
    outline-width: 3px;
}
