.showCss_sn82zky {
    opacity: 0;
    -webkit-transition: opacity 0.3s;
    transition: opacity 0.3s;
}

[icon-toggle] .showCss_sn82zky {
    opacity: 1;
}

.hideCss_h1aez5i6 {
    opacity: 1;
    -webkit-transition: opacity 0.3s;
    transition: opacity 0.3s;
}

[icon-toggle] .hideCss_h1aez5i6 {
    opacity: 0;
}

.fillCss_f167d1zc {
    opacity: 0;
    -webkit-clip-path: circle(1px at 50% 50%);
    clip-path: circle(1px at 50% 50%);
    -webkit-transition: opacity 0.3s ease 0.1s, clip-path 0.5s;
    transition: opacity 0.3s ease 0.1s, clip-path 0.5s;
}

[icon-toggle] .fillCss_f167d1zc {
    -webkit-clip-path: circle(15px at 50% 50%);
    clip-path: circle(15px at 50% 50%);
    -webkit-transition: opacity 0.2s, clip-path 0.5s;
    transition: opacity 0.2s, clip-path 0.5s;
    opacity: 1;
}

.wipeOnCss_wx3p0sr {
    -webkit-clip-path: circle(0px at 0% 100%);
    clip-path: circle(0px at 0% 100%);
    -webkit-transition: clip-path 0.5s;
    transition: clip-path 0.5s;
}

[icon-toggle] .wipeOnCss_wx3p0sr {
    -webkit-clip-path: circle(30px at 0% 100%);
    clip-path: circle(30px at 0% 100%);
}

.wipeOffCss_w6ldgjk {
    -webkit-clip-path: circle(30px at 150% 0%);
    clip-path: circle(30px at 150% 0%);
    -webkit-transition: clip-path 0.5s;
    transition: clip-path 0.5s;
}

[icon-toggle] .wipeOffCss_w6ldgjk {
    -webkit-clip-path: circle(0px at 150% 0%);
    clip-path: circle(0px at 150% 0%);
}

.bumpCss_b15jdaag {
    -webkit-transform-origin: center;
    -ms-transform-origin: center;
    transform-origin: center;
}

@-webkit-keyframes bump-bumpCss_b15jdaag {
    from {
        -webkit-transform: scale(1);
        -ms-transform: scale(1);
        transform: scale(1);
    }

    50% {
        -webkit-transform: scale(1.15);
        -ms-transform: scale(1.15);
        transform: scale(1.15);
    }

    to {
        -webkit-transform: scale(1);
        -ms-transform: scale(1);
        transform: scale(1);
    }
}

@keyframes bump-bumpCss_b15jdaag {
    from {
        -webkit-transform: scale(1);
        -ms-transform: scale(1);
        transform: scale(1);
    }

    50% {
        -webkit-transform: scale(1.15);
        -ms-transform: scale(1.15);
        transform: scale(1.15);
    }

    to {
        -webkit-transform: scale(1);
        -ms-transform: scale(1);
        transform: scale(1);
    }
}

[icon-toggle] .bumpCss_b15jdaag {
    -webkit-animation: 0.3s bump-bumpCss_b15jdaag 0.2s;
    animation: 0.3s bump-bumpCss_b15jdaag 0.2s;
}

.rtlFlipCss_r1nl3sf1 {
    -webkit-transform-origin: center;
    -ms-transform-origin: center;
    transform-origin: center;
}

[dir='rtl'] .rtlFlipCss_r1nl3sf1 {
    -webkit-transform: scaleX(-1);
    -ms-transform: scaleX(-1);
    transform: scaleX(-1);
}

.fadeCycleCss_fle7oxs {
    opacity: 0.1;
    -webkit-animation: 0.8s ease-in-out 1.2s infinite alternate fade-fadeCycleCss_fle7oxs;
    animation: 0.8s ease-in-out 1.2s infinite alternate fade-fadeCycleCss_fle7oxs;
}

.fadeCycleCss_fle7oxs:nth-child(1) {
    -webkit-animation-delay: 0s;
    animation-delay: 0s;
}

.fadeCycleCss_fle7oxs:nth-child(2) {
    -webkit-animation-delay: 0.2s;
    animation-delay: 0.2s;
}

.fadeCycleCss_fle7oxs:nth-child(3) {
    -webkit-animation-delay: 0.4s;
    animation-delay: 0.4s;
}

@-webkit-keyframes fade-fadeCycleCss_fle7oxs {
    from {
        opacity: 0.1;
    }

    50% {
        opacity: 0.1;
    }

    to {
        opacity: 0.8;
    }
}

@keyframes fade-fadeCycleCss_fle7oxs {
    from {
        opacity: 0.1;
    }

    50% {
        opacity: 0.1;
    }

    to {
        opacity: 0.8;
    }
}
