.img-magnifier-container {
  text-align: center;
  position:relative;
}

.img-magnifier-container img {
  display: inline-block; /* Ensures it responds properly to text-align */
}

 /*Set the size of the magnifier glass:*/
.img-magnifier-glass {
  position: absolute;
  border: 1px solid #f00;
  width: 250px;
  height: 125px;
  background-color:white;
  border-radius: 10px;
  cursor: none;
  z-index: 1000;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.4);
  transition: opacity 0.3s ease;
  opacity: 0;
  display: block; /* always block, control opacity instead */
	pointer-events: none;
 }

.img-magnifier-container:hover .img-magnifier-glass {
  opacity: 1;
}

#glassToggle {
	  background-color:#EBDF9F;
    height: 60px;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 800px;
    border: 2px red solid;
    border-radius: 15px;
	}

#mag {
	position: absolute;
  right: 194px;
  height: 24px;
  width: 116px;
  background-color: #EBDF9F;
	display: block;
}

#heading {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.heading-row {
  width: 100%;
  display: flex;
  justify-content: center;
  background-color: #EBDF9F;
}

.heading-checkbox {
  position: absolute;
  right: 72px;
  height: 24px;
  width: 120px;
  display: flex;
  align-items: center;
}

.img-checkbox {
  position: absolute;
  right: 278px;
  height: 24px;
  width: 120px;
  display: flex;
  align-items: center;
}