.rowCss {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    min-width: 0;
    gap: calc(var(--gutters-y) * 2) calc(var(--gutters-x) * 2);
}

.rowCss[wrap='true'] {
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}

.rowCss[wrap='reverse'] {
    -webkit-flex-wrap: wrap-reverse;
    -ms-flex-wrap: wrap-reverse;
    flex-wrap: wrap-reverse;
}

.rowCss[align-x='center'] {
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
}

.rowCss[align-x='end'] {
    -webkit-box-pack: end;
    -webkit-justify-content: flex-end;
    -ms-flex-pack: end;
    justify-content: flex-end;
}

.rowCss[align-y='middle'] {
    -webkit-align-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.rowCss[align-y='bottom'] {
    -webkit-align-items: flex-end;
    -webkit-box-align: flex-end;
    -ms-flex-align: flex-end;
    align-items: flex-end;
}

.cellCss {
    --bleedable-top: var(--gutters-y);
    --bleedable-bottom: var(--gutters-y);
    --bleedable-start: var(--gutters-x);
    --bleedable-end: var(--gutters-x);
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    min-width: 0;
}

.cellCss:empty {
    display: none;
}

.cellCss[grow-x] {
    -webkit-box-flex: 1;
    -webkit-flex-grow: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
}

.cellCss[no-shrink-x] {
    -webkit-flex-shrink: 0;
    -ms-flex-negative: 0;
    flex-shrink: 0;
}

.cellCss[no-grow-y] {
    -webkit-align-self: start;
    -ms-flex-item-align: start;
    align-self: start;
}

.cellCss[align-y='middle'] {
    -webkit-align-self: center;
    -ms-flex-item-align: center;
    align-self: center;
}

.cellCss[align-y='bottom'] {
    -webkit-align-self: flex-end;
    -ms-flex-item-align: end;
    align-self: flex-end;
}
